.help-page {
    /* width: 100vh; */
    /* height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center; */
}
.help-container {
    margin: 0 auto;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60em;
    color: #195e4b;
}

.help-picture {
    width: 40%;
}

.accordion {
    margin-top: 2em;
    padding: 0.5em 0.5em 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 4px 0 rgba(0, 0, 0, 0.19);
}

/* @media screen and (max-width: 680px) {
    .help-title {
        flex-direction: column-reverse;
    }
} */