.main-news {
    margin: 0 auto;
    margin-top: 5.5em;
    max-width: 60em;
    color: #195e4b;
    background-color: white;
    display: flex;
}

/* .main-news-left {
    width: 30em;
}
 */
/* .main-news-right {

} */

h2 {
    margin-left: 0.3em;
    font-weight: 500;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 0.5em;
}

.empty-following {
    margin: 5em 2em 2em;
    width: 90%;
   
}

.weather-big{
    border-radius: 5px;
    max-width: 265px;
    height: 228px;
    background-color: transparent;
    border: none;
   
    margin-top: 3.25em;
} 

.in-den-nachrichten {
    border-radius: 5px;
    max-width: 262px;
   
    padding: 1em;
    background-color: #f8f9fa;
}

.in-den-nachrichten hr {

    color: rgba(207, 206, 206, 0.5);
    margin: 1em 0;
}

.in-den-nachrichten button {
    color: #195e4b;
    margin: .5em .5em .5em 0;
    padding: .3em;
    background-color: white;
    border-radius: 5px;
}

.in-den-nachrichten button:hover {

    margin: .5em .5em .5em 0;
    padding: .3em;
    background-color: mintcream;
    border-radius: 5px;
    font-weight: 600;
}

@media screen and (max-width: 769px) {
    .main-news-right {
        display: none;
    }
}


