.main-news {
    margin: 0 auto;
    margin-top: 5.5em;
    max-width: 60em;
    color: #195e4b;
    background-color: white;
    display: flex;
}




h2 {
    margin-left: 0.3em;
    font-weight: 500;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding-left: .5em;
}

.icon-title {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
}
 .share-main-news {
    display: flex;
    align-items: center;
    margin-right: 0.7em;
    font-size: 0.7em;
    font-weight: 600;
    padding: .3em .5em;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    transition:all 0.3s ease;
} 

.share-main-news:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.title-title {
    margin-right: 30% ;
}

.flex-title {
    display: flex;
    align-items: center;
}

.icon-style {
    color: #00da9d;
    font-size: 1.5em;
    margin-right: .5em;
}
.empty-following {
    margin: 5em 2em 2em;
    width: 90%;
   
}

.weather-big,
.weather-big-following,
.weather-big-local {
    border-radius: 5px;
    max-width: 265px;
    height: 228px;
    background-color: transparent;
    border: none;
   
  
} 

.weather-big {
    margin-top: 6em;
}

.weather-big-following,
.weather-big-local {

    margin-top: 4em;

}

.in-den-nachrichten {
    border-radius: 5px;
    max-width: 262px;
   
    padding: 1em;
    background-color: rgba(236, 235, 235, 0.5);
}

.in-den-nachrichten hr {

    color: rgba(207, 206, 206, 0.5);
    margin: 1em 0;
}

.in-den-nachrichten button {
    color: #195e4b;
    margin: .5em .5em .5em 0;
    padding: .3em;
    background-color: white;
    border-radius: 5px;
    border: none;
    transition:all 0.3s ease;
}

.in-den-nachrichten button:hover {
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
   
    
}

@media screen and (max-width: 769px) {
    .main-news-right {
        display: none;
    }
}




